@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --headerColor: #0f0f0f;
  --green: #169c38;
  --black: black;
  --blue: #192a56;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("../fonts/healing-bestie-demo/HealingBestieDemoRegular.ttf")
    format("truetype");
  font-display: swap;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  display: block;
  flex: 1;
  padding: 2rem;
}

section {
  padding: 0 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

/* header styles begin */
header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100vw;
  height: 60px;
  box-shadow: var(--box-shadow);
  z-index: 10;
  padding: 0 20px;
}

.logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navbar button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--light-color);
}

.navbar button:hover,
.navbar button:focus {
  background-color: var(--green);
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

header .icons {
  text-align: right;
}

header .icons #menu-bars {
  display: none;
}

header .icons #menu-bars,
header .icons #cart {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background-color: #eee;
}

header .icons #menu-bars:hover,
header .icons #cart:hover {
  background-color: var(--green);
  color: white;
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}
/* header styles end */

/* .navbar button::after 
.navbar button::after {
  content: "";
  height: 2px;
  width: 0;
  background: red;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: width 0.4s ease;
  pointer-events: none;
}

.navbar button:hover::after {
  width: 100%;
}
*/

/* home styles begin */

.home-slider {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
}

.swiper-pagination-bullet-active {
  background-color: var(--green);
}

.swiper-pagination {
  margin-top: 20px;
}

.swiper {
  width: 100%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background-color: var(--green);
  letter-spacing: 0.1rem;
  transition: background-color 0.3s ease-in-out;
}

.home-slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 1rem;
}

.home-slider .slide .slide-content {
  flex: 1 1 45rem;
}

.home-slider .slide .image {
  flex: 1 1 45rem;
  height: 400px;
}

.home-slider .slide .image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Fill container without stretching */
  object-position: center;
  border-radius: 0.5rem;
}

.home-slider .slide .slide-content span {
  color: var(--green);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home-slider .slide .slide-content h3 {
  color: var(--black);
  font-size: 6rem;
  line-height: 1;
}

.home-slider .slide .slide-content p {
  color: var(--light-color);
  font-size: 2rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

/* home styles end */

/* dishes styles begin */

.sub-heading {
  text-align: center;
  font-size: 2rem;
  color: var(--green);
  padding-top: 1rem;
  margin-bottom: -10px;
}

.heading {
  text-align: center;
  font-size: 3rem;
  color: var(--black);
  padding-top: 2rem;
  text-transform: uppercase;
}

.dishes .dishes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
}

.dishes .dishes-card {
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
  text-align: center;
}

.dishes .dishes-card img {
  height: 17rem;
  margin: 1rem 0;
}

.dishes .dishes-card h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.dishes .dishes-card .span {
  color: var(--green);
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
}

/* dishes styles end */

/* menu styles begin */
.menu-section h3 {
  
}
.menu-section h2 {
  text-transform: capitalize;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1.5rem;
  padding-bottom: 20px;
}

.menu-item {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.menu-item .image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.menu-item .image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.menu-item .content {
  padding: 2rem;
  padding-top: 0;
}

.menu-item .content h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.menu-item .content h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.menu-item .content p {
  color: var(--light-color);
  font-size: 1.6rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

.menu-item .content span {
  color: var(--green);
  margin-left: 1rem;
  font-size: 2.5rem;
}

.menu-item:hover {
  transform: translateY(-5px);
}

.menu-item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 8px;
  padding: 0;
}

.menu-item h3 {
  font-size: 1.25rem;
  color: white;
}

.menu-item span {
  font-weight: bold;
  color: #b33939;
  font-size: 1.1rem;
}

.menu-item p {
  font-size: 0.95rem;
  color: white;
  line-height: 1.5;
  padding-top: 10px;
}
/* menu stlyes end */

/* about us styles begin*/
.about .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.about .row .image{
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  color: var(--black);
  font-size: 4rem;
  padding: .5rem 0;
}

.about .row .content p {
  color: var(--light-color);
  font-size: 1.5rem;
  padding: 0.5rem 0;
  line-height: 2;
}

.about .row .content .icons-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: .5rem;
}

.about .row .content .icons-container {
  background: #eee;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 17rem;
}

.about .row .content .icons-container .icons i {
  font-size: 2.5rem;
  color: var(--green);
}

.about .row .content .icons-container .icons span {
  font-size: 1.5rem;
  color: var(--black);
} 
/* about us styles end */

footer {
  color: white;
  background-color: var(--headerColor);
  padding: 1rem;
  height: 60px;
  display: grid;
  margin-top: auto;
}

.copyright {
  padding-top: 9px;
  text-align: center;
  font-size: 14px;
}

/* media queries begin*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .dishes .dishes-card img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 768px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar button {
    display: block;
    width: 100%;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background-color: #eee;
  }

  .home-slider .slide .content h3 {
    font-size: 5rem;
  }
}
/* media queries end*/
